.App {
  background-color: #232b3a;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.App-header {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.game-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 1vmin);
  max-width: 769px;
}

.game-board {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  background-image: url('/public/images/game-root-bg.png');
  min-width: 410px;
  min-height: 355px;
  box-shadow: 0px 2px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 5px black;
  width: 300px;
  animation: fadeIn 0.5s;
}

.game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1
}

.link {
  color:darkslateblue;
  text-decoration: underline;
  text-decoration-color: darkslateblue;
}

.link:hover {
  color:darkslateblue;
  text-decoration: underline;
  text-decoration-color: rgba(59, 0, 130, 0.692);
  cursor: pointer;
}

.game-board-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tile-size {
  width: 64px;
  height: 64px;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/public/images/tile_unchecked.png');
}

.tile:hover {
  background-image: url('/public/images/tile_unchecked_dark.png');
  cursor: pointer;
}

.warning-sign-marked {
  animation: warningAnimation 1s infinite;
}

@keyframes warningAnimation {
  0% {transform: scale(0.8)}
  50% {transform: scale(1.0)}
  100% {transform: scale(0.8)}
}

.bomb {
  position: relative;
}

.bomb-marked-image {
  position: absolute;
}

.bomb-rotating {
  animation: bombAnimation 1s infinite;
  animation-timing-function: linear;
  transform: scale(0.9);
}

@keyframes bombAnimation {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.tile-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/public/images/tile_empty.png');
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
}

.game-info-top-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.game-info-top-block-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-image: url('/public/images/info-block.png');
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 22px;
  position: relative;
}

.game-info-top-block-element-pressable:hover {
  cursor: pointer;
  background-image: url('/public/images/info-block-dark.png');
}

.menu-item-block {
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}